<!-- # CE - camunda-cockpit-ui/client/scripts/pages/process-definition.html -->
<div class="ctn-fixed-view">
  <div class="ctn-content-container"
       ctn-collapsable-parent="sidebar"
       ctn-min-width=".nav-tabs li">

    <!-- tool bar -->
    <div class="ctn-toolbar">

      <!-- Toolbar actions are provided by plugins -->
      <span ng-repeat="actionProvider in processDefinitionActions">
        <view provider="actionProvider"
              vars="processDefinitionVars" />
      </span>
    </div>

    <!-- sidebar -->
    <div class="ctn-column ctn-sidebar ctn-scroll"
         cam-hover-area
         ctn-collapsable="left">

      <dl class="process-information">
        <dt>Definition Version:</dt>
        <dd class="definition-version">
          <span ng-if="!instanceStatistics.$loaded"
                class="glyphicon glyphicon-refresh animate-spin"></span>

          <div class="dropdown"
               ng-if="instanceStatistics.$loaded && allDefinitions.length > 1">
            <a href
               class="dropdown-toggle">
              {{ processDefinition.version }}
              <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
              <li ng-repeat="definition in allDefinitions">
                <a ng-href="#/process-definition/{{ definition.id }}">
                  {{ definition.version }}
                </a>
              </li>
            </ul>
          </div>

          <span ng-if="instanceStatistics.$loaded && allDefinitions.length < 2">
            {{ processDefinition.version }}
          </span>
        </dd>

        <dt>Version Tag:</dt>
        <dd class="version-tag"
            ng-if="processDefinition.versionTag">{{ processDefinition.versionTag }}</dd>
        <dd class="version-tag"
            ng-if="!processDefinition.versionTag"><span class="null-value">null</span></dd>

        <dt cam-widget-clipboard="processDefinition.id"
            cam-hoverable-title="definition-id">Definition ID:</dt>
        <dd class="definition-id" cam-hover-trigger="definition-id">{{ processDefinition.id }}</dd>

        <dt cam-widget-clipboard="processDefinition.key"
            cam-hoverable-title="definition-key">Definition Key:</dt>
        <dd class="definition-key" cam-hover-trigger="definition-key">{{ processDefinition.key }}</dd>

        <dt>Definition Name:</dt>
        <dd class="definition-name"
            ng-if="processDefinition.name && processDefinition.name !== processDefinition.key">{{ processDefinition.name }}</dd>
        <dd class="definition-name"
            ng-if="!processDefinition.name || processDefinition.name === processDefinition.key"><span class="null-value">null</span></dd>

        <dt cam-widget-clipboard="processDefinition.historyTimeToLive"
            cam-hoverable-title="history-time-to-live">
            History Time To Live:
        </dt>
        <dd class="history-time-to-live" cam-hover-trigger="history-time-to-live">
          <span time-to-live="processDefinition" resource="process-definition"></span>
        </dd>

        <dt ng-if="processDefinition.tenantId"
            cam-widget-clipboard="processDefinition.tenantId"
            cam-hoverable-title="tenant-id">Tenant ID:</dt>
        <dd class="tenant-id"
            ng-if="processDefinition.tenantId" cam-hover-trigger="tenant-id">
            {{ processDefinition.tenantId }}
        </dd>
        <dt ng-if="!processDefinition.tenantId">Tenant ID:</dt>
        <dd class="tenant-id"
            ng-if="!processDefinition.tenantId"><span class="null-value">null</span></dd>

        <dt cam-widget-clipboard="processDefinition.deploymentId"
            cam-hoverable-title="deployment-id">Deployment ID:</dt>
        <dd class="deployment-id" cam-hover-trigger="deployment-id">
          <a ng-href="{{ getDeploymentUrl() }}">{{ processDefinition.deploymentId }}</a>
        </dd>

        <dt>Instances Running:</dt>
        <dd class="running-instances">
          <span ng-if="!instanceStatistics.$loaded"
                class="glyphicon glyphicon-refresh animate-spin"></span>
          <ul ng-if="instanceStatistics.$loaded">
            <li>
              current version:
              <strong class="current-version">{{ instanceStatistics.current.count }}</strong>
              <a ng-href="{{ getMigrationUrl() }}"
                 class="instance-upgrade-link"
                 ng-if="hasMigrationPlugin && !isLatestVersion() && instanceStatistics.current.count > 0">
                <span class="glyphicon glyphicon-arrow-up"
                      tooltip="Migrate Process Instances to latest version"></span>
              </a>
            </li>
            <li>
              all versions:
              <strong class="all-versions">{{ instanceStatistics.all.count }}</strong>
              <a ng-href="{{ getMigrationUrl() }}"
                 class="instance-upgrade-link"
                 ng-if="hasMigrationPlugin && isLatestVersion() && instanceStatistics.all.count !== instanceStatistics.current.count">
                <span class="glyphicon glyphicon-arrow-up"
                      tooltip="Migrate Process Instances to latest version"></span>
              </a>
            </li>
          </ul>
        </dd>

        <dt ng-if="hasMigrationPlugin || hasReportPlugin">Related:</dt>
        <dd ng-if="hasMigrationPlugin || hasReportPlugin">
          <ul>
            <li ng-if="hasReportPlugin">
              <a class="report-link"
                 ng-href="#/reports/reporting-duration-report?processDefinitionKey={{ processDefinition.key }}&processDefinitionVersion={{ processDefinition.version }}">
                Reports
              </a>
            </li>
            <li ng-if="hasMigrationPlugin">
              <a ng-href="#/migration?searchQuery=%5B%5D&sourceKey={{ processDefinition.key }}">Migration</a>
            </li>
          </ul>
        </dd>
      </dl>

      <a class="hide-collapsable pull-right"></a>
    </div>

    <div class="ctn-column ctn-content"
         ctn-collapsable-parent="tabs">
      <a class="show-collapsable"></a>

      <!-- content top pane -->
      <div class="ctn-row ctn-content-top"
           is-sidebar-collapsed="onDiagramCollapseChange(collapsed)"
           ctn-collapsable="top">
        <div process-diagram="processDiagram"
             key="{{processDefinition.id}}"
             on-element-click="handleBpmnElementSelection(id, $event)"
             selection="filter"
             process-data="processData"
             page-data="pageData"
             collapsed="diagramCollapsed"
             diagram-provider-component="cockpit.processDefinition.diagram.plugin"
             overlay-provider-component="cockpit.processDefinition.diagram.overlay"
             viewer="diagramViewer"></div>

        <a class="hide-collapsable vertical-collapse"
           title="Show tabs"></a>

        <a class="maximize-collapsable vertical-collapse"
           maximize-parent-direction="left"
           title="Maximize diagram"></a>

        <a class="restore-collapsable vertical-collapse"
          maximize-parent-direction="left"
          title="Restore diagram to default size"></a>
      </div>

      <!-- content bottom pane -->
      <div class="ctn-row ctn-content-bottom ctn-tabbed">
        <a class="show-collapsable vertical-collapse"
           title="Hide tabs"></a>

        <div ng-show="processDefinitionTabs.length">
          <ul class="nav nav-tabs">
            <li ng-class="{ active: selectedTab == tabProvider }"
                ng-repeat="tabProvider in processDefinitionTabs">
              <a href ng-click="selectTab(tabProvider)">{{ tabProvider.label }}</a>
            </li>
          </ul>

          <div class="ctn-tabbed-content ctn-scroll">
            <view provider="selectedTab"
                  vars="processDefinitionVars" />
          </div>
        </div>
      </div>
    </div>
  </div>

</div><!-- end .ctn-fixed-view -->
<!-- / CE - camunda-cockpit-ui/client/scripts/pages/process-definition.html -->
