<!-- # CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/processInstance/cancel-process-instance-dialog.html -->
<div class="modal-header">
  <h3>Delete Process Instance</h3>
</div>

<div class="cancel-process-instance modal-body">
  <div notifications-panel></div>

  <div ng-hide="status === 'cancellationSuccess' || status === 'cancellationFailed' || status === 'beforeCancellation' || status === 'loadingFailed'">
    <span class="glyphicon glyphicon-loading"></span>
    loading process instance information...
  </div>

  <p ng-show="status === 'loadingFailed'">
    It was not possible to get further process instance informations to be able to delete this process instance. Refresh the current page by pressing F5 and try once again to delete this process instance.
  </p>

  <div ng-show="status === 'beforeCancellation'">
    <div ng-show="subProcessInstances.length > 0">
      <p>
        If you delete this process instance the following sub process instances will also be deleted:
      </p>

      <table class="table cam-table">
        <thead>
          <tr>
            <th class="instance-id uuid">ID</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="subProcessInstance in subProcessInstances">
            <td class="instance-id uuid">
              <a target="_blank"
                 ng-href="#/process-instance/{{ subProcessInstance.id }}">
                {{ subProcessInstance.id }}
              </a>
            </td>
          </tr>

          <tr>
            <td ng-hide="subProcessInstances.length === subProcessInstancesCount">
              and {{ subProcessInstancesCount - subProcessInstances.length }} other process instances.
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <form class="form-horizontal"
          name="cancelProcessInstanceForm"
          novalidate
          request-aware>
      <div class="form-group skip-custom-listener">

        <label class="control-label col-xs-5"
               for="skipCustomListeners">
          Skip Custom Listeners
          <span class="glyphicon glyphicon-question-sign"
                tooltip="If the value is enabled, only built-in listeners will be notified with the end event."
                tooltip-placement="right">
          </span>
        </label>

        <div class="col-xs-7">
          <label class="checkbox">
            <input name="skipCustomListeners"
                   type="checkbox"
                   ng-model="options.skipCustomListeners">
          </label>
        </div>

      </div>

      <div class="form-group skip-custom-listener">

        <label class="control-label col-xs-5"
               for="skipIoMappings">
          Skip IO Mappings
          <span class="glyphicon glyphicon-question-sign"
                tooltip="If the value is enabled IO mappings will be skipped during process deletion."
                tooltip-placement="right">
          </span>
        </label>

        <div class="col-xs-7">
          <label class="checkbox">
            <input name="skipIoMappings"
                   type="checkbox"
                   ng-model="options.skipIoMappings">
          </label>
        </div>

      </div>
    </form>

    <p>Do you really want to delete this process instance?</p>
  </div>

  <div ng-show="status === 'cancellationSuccess'">
    <p>The process instance was deleted successfully.</p>
    <p>After closing this dialog you will be redirected to the corresponding process definition overview.</p>
  </div>

  <div ng-show="status === 'cancellationFailed'">
    <p>The process instance could not be deleted successfully.</p>
    <p>Maybe the process instance has already been deleted or finished. Try to press F5 to refresh the page.</p>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-default"
          ng-click="close(status)"
          ng-disabled="status === 'performCancellation'"
          ng-hide="status === 'cancellationSuccess' || status === 'cancellationFailed' || status === 'loadingFailed'">
    Close
  </button>

  <button class="btn btn-primary"
          ng-click="close(status)"
          ng-show="status === 'cancellationSuccess' || status === 'cancellationFailed' || status === 'loadingFailed'">
    OK
  </button>

  <button class="btn btn-primary"
          ng-click="cancelProcessInstance()"
          ng-disabled="status !== 'beforeCancellation'"
          ng-hide="status === 'cancellationSuccess' || status === 'cancellationFailed' || status === 'loadingFailed'">
    Delete Process Instance
  </button>
</div>
<!-- / CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/processInstance/cancel-process-instance-dialog.html -->
