<!-- # CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/processInstance/cancel-process-instance-action.html -->
<a class="btn btn-default btn-toolbar"
   href
   ng-click="openDialog()"
   tooltip="Delete running process instance"
   tooltip-placement="left">
  <span class="glyphicon glyphicon-remove"></span>
</a>
<!-- / CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/processInstance/cancel-process-instance-action.html -->
